<template>
    <div class="container-fluid">
        <div class="row">
            <Header></Header>
        </div>
        <div class="row page-name-bar">
            <p class="p-n-b-h mt-5">Sobre Nosotros</p>
        </div>
        <p class="p-n-b-h2 mt-5">UN POCO SOBRE NUESTRA HISTORIA</p>
        <div class="row justify-content-md-center ms-5">
            <div class="about-us-text">
                Hace una década, surgió una aplicación web de consultas médicas revolucionaria. Proporcionó acceso conveniente a servicios médicos de calidad desde cualquier lugar. Evolucionó para ofrecer programación de citas, acceso a informes médicos y resultados de laboratorio. Se convirtió en un recurso invaluable, eliminando barreras geográficas y físicas. Se utilizó en emergencias para recibir orientación médica inmediata. Hoy en día, continúa creciendo y colaborando con hospitales y profesionales de la salud. Es un ejemplo del poder transformador de la tecnología en la atención médica. Millones de personas se benefician de este avance en la salud digital. Ha sido pionera en un futuro más saludable y conectado.
            </div>
        </div>
        <p class="p-n-b-h3 mt-5">OUR HISTORY AND ACHIEVEMENTS</p>
        <section class="timeline">
            <div class="wrapper">
                <div class="timeline__item timeline__item--0">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">15 de marzo de 2010</h2>
                        <p class="timeline__item__content__description">Lanzamiento de la aplicación de consultas médicas, facilitando a las personas acceder a atención médica de calidad desde la comodidad de sus hogares.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--1">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">7 de julio de 2012</h2>
                        <p class="timeline__item__content__description">S Introducción de la función de chat en vivo, permitiendo a los usuarios realizar preguntas y recibir respuestas inmediatas de médicos expertos.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--2">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">23 de mayo de 2014</h2>
                        <p class="timeline__item__content__description">Implementación de un sistema de recordatorio de citas, ayudando a los pacientes a mantenerse al tanto de sus consultas médicas y evitando olvidos.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--3">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">12 de septiembre de 2016</h2>
                        <p class="timeline__item__content__description">Ampliación de la oferta de servicios médicos en línea, incluyendo especialidades como pediatría, dermatología y ginecología.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--4">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">20 de enero de 2020</h2>
                        <p class="timeline__item__content__description">Introducción de la opción de compartir informes médicos y resultados de laboratorio de forma segura con los médicos, agilizando el proceso de diagnóstico.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--5">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">9 de octubre de 2022</h2>
                        <p class="timeline__item__content__description">Incorporación de un sistema de seguimiento de síntomas, que ayuda a los pacientes a monitorear su progreso y brinda información relevante para su tratamiento.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--6">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">2 de agosto de 2024</h2>
                        <p class="timeline__item__content__description">Expansión de la aplicación a zonas rurales y áreas remotas, brindando acceso a atención médica a personas que antes tenían dificultades para acceder a servicios especializados.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--7">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">2 de agosto de 2024</h2>
                        <p class="timeline__item__content__description">We begin our part on the Wheatstone project, Onslow
                            WA, also one of the largest construction jobs in the world.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--8">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">18 de diciembre de 2026</h2>
                        <p class="timeline__item__content__description">Colaboración con organizaciones benéficas para ofrecer servicios de consultas médicas gratuitas o a bajo costo a comunidades desfavorecidas, promoviendo la igualdad de acceso a la atención médica.</p>
                    </div>
                </div>
                <div class="timeline__item timeline__item--9">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">
                        <h2 class="timeline__item__content__date">3 de noviembre de 2028</h2>
                        <p class="timeline__item__content__description">Implementación de un sistema de inteligencia artificial avanzada que utiliza algoritmos de aprendizaje automático para proporcionar diagnósticos preliminares y recomendaciones de tratamiento basados en datos médicos del paciente y patrones de enfermedades similares.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/header/Header.vue';

export default {
    name: 'AboutUs',
    components: {
        Header
    },
    setup() {
    }
}
</script>

<style scoped>
.page-name-bar {
    width: 100%;
    height: 200px;
    background-color: rgb(238, 238, 238);
    background-image: url(https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/title-area-pattern.png);
    background-repeat: repeat;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.p-n-b-h {
    color: rgb(51, 51, 51);
    margin-left: -20px;
    margin-top: 50px;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}

.p-n-b-h2 {
    font-size: 18px;
    font-weight: 600;
    font-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 77, 77);
    padding-bottom: 10px;
}

.p-n-b-h3 {
    font-size: 18px;
    font-weight: 600;
    font-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 77, 77);
    padding-bottom: 10px;
}

.about-us-text {
    color: #999999;
    font-size: 16px;
    letter-spacing: 1px;
    width: 700px;
    text-align: center;
    line-height: 31px;
    z-index: 3;
}
/* _timeline.css */
.timeline {
  position: relative;
  height: 100%;
  margin: 25px auto;
  padding: 160px 0;
  margin-left: -12px;

}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 4px;
  height: 90%;
  background-color: rgb(77, 77, 77);
}
@media (min-width: 800px){
  .timeline::before{
    left: 50%;
    margin-left: -2px;
  }
}
.timeline__item {
  margin-bottom: 100px;
  position: relative;
}
.timeline__item::after{
  content: "";
  clear: both;
  display: table;
}
.timeline__item:nth-child(2n) .timeline__item__content {
  float: right;
}
.timeline__item:nth-child(2n) .timeline__item__content::before {
  content: '';
  right: 40%;
}
@media (min-width: 800px){
  .timeline__item:nth-child(2n) .timeline__item__content::before{
    left: inherit;
  }
}
.timeline__item:nth-child(2n) .timeline__item__content__date {
  background-color: #045087;
}
.timeline__item:nth-child(2n) .timeline__item__content__description {
  color: rgb(77, 77, 77);
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__item-bg {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgb(77, 77, 77);
}
.timeline__item-bg:nth-child(2n) .timeline__item__station {
  background-color: rgb(77, 77, 77);
}
.timeline__item-bg:nth-child(2n) .timeline__item__content {
  background-color: #045087;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content::before {
  background-color: rgb(77, 77, 77);
}
.timeline__item-bg:nth-child(2n) .timeline__item__content__description {
  color: #fff;
}
.timeline__item-bg .timeline__item__station {
  background-color:  rgb(77, 77, 77);
}
.timeline__item-bg .timeline__item__content {
  background-color: #045087;
}
.timeline__item-bg .timeline__item__content::before {
  background-color: rgb(77, 77, 77);
}
.timeline__item-bg .timeline__item__content__description {
  color: #fff;
}
.timeline__item__station {
  background-color: #045087;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  top: 0;
  left: 10%;
  margin-left: -33px;
  border: 4px solid rgb(77, 77, 77);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__station{
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-width: 6px;
  }
}
.timeline__item__content {
  width: 80%;
  background: #fff;
  border: 4px solid rgb(77, 77, 77);
  padding: 20px 30px;
  border-radius: 6px;
  float: right;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__content{
    width: 40%;
    float: inherit;
    padding: 30px 40px;
  }
}
.timeline__item__content::before {
  content: '';
  position: absolute;
  left: 10%;
  background: rgb(77, 77, 77);
  top: 20px;
  width: 10%;
  height: 4px;
  z-index: -1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__content::before{
    left: 40%;
    top: 30px;
    height: 4px;
    margin-top: -2px;
  }
}
.timeline__item__content__date {
  margin: 0;
  padding: 8px 12px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #045087;
  color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 4px;
  border: 2px solid rgb(77, 77, 77);
}
.timeline__item__content__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(77, 77, 77);
}
@media (min-width: 800px){
  .timeline__item__content__description{
    font-size: 19px;
    line-height: 28px;
  }
}
.wrapper {
  z-index: 2;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}

</style>