<template>
    <div class="container-fluid">
        <div class="row">
            <Header />
        </div>
        <div class="container mt-5 bg-white rounded">
            <div class="row">
                <div class="col-12">
                    <div class="my-5">
                        <h3>Mis Citas</h3>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-xxl-12 mb-5">
                            <div class="bg-light px-4 py-5 rounded">
                                <table v-if="appointmentsStore.appointments.length > 0" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th v-if="loginStore.userInfo.type == 'patient'" scope="col">Doctor/a</th>
                                            <th v-if="loginStore.userInfo.type == 'doctor'" scope="col">Paciente</th>
                                            <th scope="col">Tipo</th>
                                            <th v-if="loginStore.userInfo.type == 'doctor'" scope="col">Nº Teléfono</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr v-for="appointment in appointmentsStore.appointments" :key="appointment.Id">
                                            <th scope="row">{{ parseDate(appointment.Date) }}</th>
                                            <td>{{ appointment.OtherFullName }}</td>
                                            <td>{{ appointment.Type == "phone" ? "Telefónica" : "Videollamada" }}</td>
                                            <td v-if="loginStore.userInfo.type == 'doctor'"> {{ appointment.TelephoneNumber }}</td>
                                            <td v-if="appointment.Type == 'videocall'">
                                                <a v-if="showVideoCallButton(appointment.Date)" class="btn btn-primary" @click="router.push(`/appointments/${appointment.Id}/videocall/${appointment.PatientId}`)">Acceder</a>
                                            </td>
                                            <td v-if="appointment.Type == 'phone'">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-if="appointmentsStore.appointments.length <= 0">
                                    <h3>NO TIENE CITAS ACTUALMENTE</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import { onBeforeMount } from "vue";
import { useAppointmentsStore } from "../components/appointments/appointmentsStore";
import { useLoginStore } from "../components/login/loginStore";
import router from "../router";


export default {
    components: {
        Header
    },
    setup() {

        const appointmentsStore = useAppointmentsStore();
        const loginStore = useLoginStore();

        onBeforeMount(async () => {
            await appointmentsStore.getAppointments();
        });

        const parseDate = (date) => {
            var parseDate = new Date(date);
            var day = parseDate.getDate();
            var month = parseDate.getMonth() + 1;
            var year = parseDate.getFullYear();
            var hours = parseDate.getHours();
            var minutes = parseDate.getMinutes();

            day = (day < 10 ? "0" : "") + day;
            month = (month < 10 ? "0" : "") + month;
            hours = (hours < 10 ? "0" : "") + hours;
            minutes = (minutes < 10 ? "0" : "") + minutes;

            return day + "-" + month + "-" + year + " " + hours + ":" + minutes;
        }
        
        const showVideoCallButton = (date) => {
            var currentDate = new Date();
            var videoCallDate = new Date(date);
            var dateMaxLimit = new Date(videoCallDate.getTime() + 20 * 60000)
            var dateMinLimit = new Date(videoCallDate.getTime() - 5 * 60000)

            return (currentDate > dateMinLimit && currentDate < dateMaxLimit);
        }

        return {
            appointmentsStore,
            loginStore,
            router,
            parseDate,
            showVideoCallButton
        }
    }
};
</script>