<template>
    <div class="container-fluid">
        <div class="row">
            <Header />
        </div>
        <div class="row justify-content-md-center mt-5">
            <div class="col-xxl-12">
                <div class="container">
                    <div class="row message-wrapper rounded shadow pb-5">
                        <div v-if="consultationsStore.consultations.length == 0" class="pt-5">
                            <h2>NO TIENE CONSULTAS</h2>
                        </div>
                        <div v-if="consultationsStore.consultations.length > 0" class="col-md-4 message-sideleft">
                            <div class="panel">
                                <div class="panel-heading mt-3">
                                    <div class="float-start">
                                        <h3 class="panel-title ms-3 mb-3">Consultas</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body no-padding">
                                    <div v-for="consultation in consultationsStore.consultations" :key="consultation.Id"
                                        class="list-group no-margin list-message">
                                        <a class="list-group-item" @click="selectConsultation(consultation.Id)">
                                            <h4 class="list-group-item-heading">{{ consultation.DoctorsFullName }}
                                                <small>Último mensaje: {{ getTimeFromLastMessage(consultation.Id) }}</small>
                                            </h4>
                                            <p class="list-group-item-text">
                                                <strong>{{ consultation.Title }}</strong>
                                            </p>
                                            <span v-if="consultation.IsClosed == 1"
                                                class="badge bg-success float-end">RESUELTA</span>
                                            <span v-if="consultation.IsClosed == 0"
                                                class="badge bg-secondary float-end">ABIERTA</span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="consultationsStore.consultations.length > 0 && consultationsStore.selectedConsultation.Id != undefined"
                            class="col-md-8 message-sideright">
                            <div v-for="message in JSON.parse(consultationsStore.selectedConsultation.Messages)"
                                :key="consultationsStore.selectedConsultation.Messages.Id" class="panel">
                                <div class="panel-heading">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 v-if="message.userId == loginStore.userInfo.id" class="media-heading">
                                                {{ profileStore.userInfo.name }} {{ profileStore.userInfo.lastName }}</h4>
                                            <h4 v-if="message.userId != loginStore.userInfo.id" class="media-heading">
                                                {{ consultationsStore.selectedConsultation.ReceptorsFullName }}
                                            </h4>
                                            <small>{{ parseDate(message.date) }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body mt-3">
                                    <hr>
                                    <p v-html="message.message" style="text-align: left;"></p>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="alert alert-danger" role="alert" v-show="consultationsStore.error">
                                    <i class="bi bi-x icon-button" @click="consultationsStore.error = ''"></i>
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                    {{ consultationsStore.error }}
                                </div>
                                <QuillEditor v-if="consultationsStore.selectedConsultation.IsClosed == 0" toolbar="essential" :placeholder="'Escriba aqui su mensaje'" theme="snow" />
                            </div>
                            <button v-if="consultationsStore.selectedConsultation.IsClosed == 0" class="btn btn-primary mt-3 w-25" @click="insertNewMessage">Enviar</button>
                            <button v-if="loginStore.userInfo.type == 'doctor' && consultationsStore.selectedConsultation.IsClosed == 0" class="btn btn-danger mt-3 ms-3"
                                @click="closeConsultation">Cerrar Consulta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/header/Header.vue';
import { QuillEditor } from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import { useConsultationsStore } from "../components/consultations/consultationsStore";
import { onBeforeMount, watch } from "vue";
import { useLoginStore } from '@/components/login/loginStore';
import { useProfileStore } from '@/components/profile/profileStore';

export default {
    name: 'Consultations',
    components: {
        Header,
        QuillEditor
    },
    setup() {

        const consultationsStore = useConsultationsStore();
        const loginStore = useLoginStore();
        const profileStore = useProfileStore();

        onBeforeMount(() => {
            consultationsStore.getConsultations();
        });

        watch(
            () => consultationsStore.consultations,
            () => {
                var selectedConsultationId = localStorage.getItem("SELECTED_CONSULTATION_ID");
                if (consultationsStore.consultations && selectedConsultationId != null) {
                    var consultation = consultationsStore.consultations.find(consultation => consultation.Id == selectedConsultationId);
                    consultationsStore.selectedConsultation = consultation;
                }
                else {
                    consultationsStore.selectedConsultation = consultationsStore.consultations[0];
                }
            }
        );

        const selectConsultation = (consultationId) => {
            localStorage.setItem("SELECTED_CONSULTATION_ID", consultationId);
            consultationsStore.selectedConsultation = {};
            var consultation = consultationsStore.consultations.find(consultation => consultation.Id == consultationId);
            consultationsStore.selectedConsultation = consultation;
        };

        const getTimeFromLastMessage = (consultationId) => {
            var consultation = consultationsStore.consultations.find(consultation => consultation.Id == consultationId);
            var consultationMessages = JSON.parse(consultation.Messages);
            var lastMessageId = Math.max.apply(Math, consultationMessages.map(function (o) { return o.id; }));
            var messageDate = new Date(consultationMessages[lastMessageId].date);
            var currentDate = new Date();
            var dateDifference = currentDate - messageDate;
            var days = Math.floor(dateDifference / (1000 * 60 * 60 * 24));
            var hours = Math.floor((dateDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((dateDifference % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((dateDifference % (1000 * 60)) / 1000);

            if (days > 0) {
                return days != 1 ? `Hace ${days} días` : `Hace ${days} día`;
            }
            if (hours > 0) {
                return hours != 1 ? `Hace ${hours} horas` : `Hace ${hours} hora`;
            }
            if (minutes > 0) {
                return minutes != 1 ? `Hace ${minutes} minutos` : `Hace ${minutes} minuto`;
            }
            if (seconds > 0) {
                return seconds != 1 ? `Hace ${seconds} segundos` : `Hace ${seconds} segundo`;
            }
        };

        const parseDate = (originalDate) => {
            const date = new Date(originalDate);

            const day = date.getDate().toString().padStart(2, '0');
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
            const year = date.getFullYear().toString().slice(-2);
            const hour = date.getHours().toString().padStart(2, '0');
            const minute = date.getMinutes().toString().padStart(2, '0');
            const second = date.getSeconds().toString().padStart(2, '0');

            return `${day}-${month}-${year} ${hour}:${minute}:${second}`;
        };

        const insertNewMessage = async () => {
            consultationsStore.newMessage.userId = loginStore.userInfo.id;
            consultationsStore.newMessage.message = document.querySelector(".ql-editor").innerHTML;

            if (consultationsStore.newMessage.message == "<p><br></p>") {
                consultationsStore.error = "Escriba un mensaje";
                return;
            }

            await consultationsStore.insertConsultationMessage();
            window.location.reload();
        };

        const closeConsultation = async () => {
            await consultationsStore.closeConsultation();
        };


        return {
            consultationsStore,
            loginStore,
            profileStore,
            selectConsultation,
            parseDate,
            insertNewMessage,
            getTimeFromLastMessage,
            closeConsultation
        }
    }
}
</script>

<style scoped>
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.message form {
    padding: 6px 15px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E6EBED;
}

.message form .has-icon .form-control-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 34px;
    line-height: 33px;
    text-align: center;
    color: #777;
}

.message>a {
    position: relative;
}

.message .indicator {
    text-align: center;
}

.message .indicator .spinner {
    left: 26%;
    width: 200px;
    font-size: 13px;
    line-height: 17px;
    color: #999;
}

.message-wrapper {
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
}

.message-wrapper .message-sideleft {
    vertical-align: top !important;
}

.message-wrapper .message-sideleft[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.message-wrapper .message-sideright {
    background-color: #f8f8f8;
}

.message-wrapper .message-sideright[class*="col-"] {
    padding: 30px;
}

.message-wrapper .message-sideright .panel {
    border-top: 1px dotted #DDD;
    padding-top: 20px;
}

.message-wrapper .message-sideright .panel:first-child {
    border-top: none;
    padding-top: 0px;
}

.message-wrapper .message-sideright .panel .panel-heading {
    border-bottom: none;
}

.message-wrapper .panel {
    background-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.message-wrapper .panel .panel-heading,
.message-wrapper .panel .panel-body {
    background-color: transparent !important;
}

.message-wrapper .media .media-body {
    font-weight: 300;
}

.message-wrapper .media .media-heading {
    margin-bottom: 0px;
}

.message-wrapper .media small {
    color: #999999;
    font-weight: 400;
}

.list-message .list-group-item {
    padding: 15px;
    color: #999999 !important;
    border-right: 3px solid #8CC152 !important;
}

.list-message .list-group-item.active {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDD !important;
}

.list-message .list-group-item.active p {
    color: #999999 !important;
}

.list-message .list-group-item.active:hover,
.list-message .list-group-item.active:focus,
.list-message .list-group-item.active:active {
    background-color: #EEEEEE;
}

.list-message .list-group-item small {
    font-size: 12px;
}

.list-message .list-group-item .list-group-item-heading {
    color: #999999 !important;
}

.list-message .list-group-item .list-group-item-text {
    margin-bottom: 10px;
}

.list-message .list-group-item:last-child {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #DDD !important;
}

.avatar {
    width: 50px;
    height: 50px;
}
</style>