<template>
    <div class="container-fluid">
        <div class="row">
            <Header></Header>
        </div>
        <div class="row justify-content-lg-center mt-5">
            <div class="col-xxl-10 border-0 rounded shadow" style="background-color: #eee;">
                <div class="container mt-3">
                    <div class="row ng-scope">
                        <div class="col-lg-3 order-lg-9 text-start mt-3">
                            <h4><span class="fw-light">Filtros</span></h4>
                            <p class="text-muted fs-mini">El siguiente contenido está categorizado por los siguientes
                                grupos:</p>
                            <!-- Tab navs -->
                            <div class="nav flex-column nav-pills text-start" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <div class="input-group rounded">
                                    <input type="search" class="form-control rounded" placeholder="Buscar"
                                        aria-label="Search" aria-describedby="search-addon" v-model="filterName" />
                                    <span class="input-group-text border-0" id="search-addon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                                <a class="nav-link" id="v-pills-home-tab" data-mdb-toggle="pill" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true"
                                    @click="() => filterType = ''">Todos<span class="ms-5 badge bg-secondary">{{
                                        getTotalSpecialities() }}</span></a>
                                <div v-for="speciality in doctorsStore.doctorsSpecialities" :key="speciality.Speciality">
                                    <a class="nav-link" id="v-pills-home-tab" data-mdb-toggle="pill" role="tab"
                                        aria-controls="v-pills-home" aria-selected="true"
                                        @click="() => filterType = speciality.Speciality">{{ speciality.Speciality }}<span
                                            class="ms-4 badge bg-secondary">{{ speciality.Count }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 order-lg-3 mt-3">
                            <section v-for="doctor in filteredDoctors" :key="doctor.Id" class="search-result-item">
                                <a class="image-link"><img class="image" :src="'/uploads/' + doctor.Image">
                                </a>
                                <div class="search-result-item-body">
                                    <div class="row">
                                        <div class="col-sm-9 text-start">
                                            <h4 class="search-result-item-heading">{{ doctor.DoctorsFullName }}
                                            </h4>
                                            <p class="info">{{ doctor.Speciality }}</p>
                                            <p class="description">Not just usual Metro. But something bigger. Not just
                                                usual
                                                widgets,
                                                but real widgets. Not just yet another admin template, but next generation
                                                admin
                                                template.</p>
                                        </div>
                                        <div class="col-sm-3 text-center mt-5">
                                            <a v-if="loginStore.userInfo.type != 'doctor'"
                                                class="btn btn-primary btn-info btn-sm mt-2" data-bs-toggle="modal"
                                                data-bs-target="#consultationModal"
                                                @click="showConsultationForm(doctor.Id, doctor.DoctorsFullName)">Hacer
                                                Consulta</a>
                                            <a v-if="loginStore.userInfo.type != 'doctor'" data-bs-toggle="modal"
                                                data-bs-target="#appointmentModal"
                                                class="btn btn-primary btn-info btn-sm ms-2 mt-2"
                                                @click="showAppointmentForm(doctor.Id, doctor.DoctorsFullName)">Pedir
                                                Cita</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="loginStore.userInfo.id != ''" class="modal fade" id="consultationModal" tabindex="-1"
            aria-labelledby="consultationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Consulta - {{
                            doctorsStore.selectedDoctor.fullName
                        }}
                            {{
                                doctorsStore.selectedDoctor.lastname }}</h5>
                        <button type="button" id="closeConsultationModalButton" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">
                        <div class="alert alert-danger" role="alert" v-show="doctorsStore.error">
                            <i class="bi bi-x icon-button" @click="doctorsStore.error = ''"></i>
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            {{ doctorsStore.error }}
                        </div>
                        <div class="form-group">
                            <label for="consultationTitle" class="mb-2 flex-start">Titulo</label>
                            <input type="text" class="form-control" id="consultationTitle"
                                placeholder="Titulo de la consulta" autofocus=""
                                v-model="doctorsStore.newConsultationInfo.title" />
                        </div>
                        <div class="form-group mt-4">
                            <label for="consultationText" class="mb-2">Consulta</label>
                            <QuillEditor toolbar="essential" :placeholder="'Escriba aqui su consulta'" theme="snow" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" @click="createNewConsultation">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="loginStore.userInfo.id != ''" class="modal fade" id="appointmentModal" tabindex="-1"
            aria-labelledby="appointmentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Cita - {{ doctorsStore.selectedDoctor.fullName
                        }}
                            {{ doctorsStore.selectedDoctor.lastname }}</h5>
                        <button type="button" id="closeAppointmentModalButton" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">
                        <div class="alert alert-danger" role="alert" v-show="doctorsStore.error">
                            <i class="bi bi-x icon-button" @click="doctorsStore.error = ''"></i>
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            {{ doctorsStore.error }}
                        </div>
                        <div class="form-group">
                            <label for="appointmentTitle" class="mb-2 flex-start">Tipo</label>
                            <select v-model="doctorsStore.newAppointmentInfo.type" class="form-select"
                                aria-label="Default select example">
                                <option selected value="">Abra este menú para seleccionar el tipo de cita</option>
                                <option value="phone">Telefónica</option>
                                <option value="videocall">Videollamada</option>
                            </select>
                        </div>
                        <div class="form-group mt-4">
                            <label for="appointmentText" class="mb-2">Consulta</label>
                            <br>
                            <DatePicker v-model="date" :min-date="new Date()" :disabled-dates="disabledDates"
                                mode="dateTime" :rules="rules" timezone='Etc/GMT' is24hr expanded />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" @click="createNewAppointment">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/header/Header.vue';
import { useDoctorsStore } from "../components/doctors/doctorsStore";
import { useLoginStore } from "../components/login/loginStore";
import { useProfileStore } from "../components/profile/profileStore";
import { computed, onBeforeMount, ref, watch } from "vue";
import { QuillEditor } from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import router from "../router";
import { DatePicker } from 'v-calendar';
import 'v-calendar/style.css';

export default {
    name: 'Doctors',
    components: {
        Header,
        QuillEditor,
        DatePicker
    },
    setup() {
        const doctorsStore = useDoctorsStore();
        const loginStore = useLoginStore();
        const profileStore = useProfileStore();

        const filterType = ref('');
        const filterName = ref('');
        const filteredDoctors = computed(() => {
            var filterTypeValue = filterType.value;
            var filterNameValue = filterName.value.toLowerCase();
            if (!filterTypeValue.length && !filterNameValue.length) return doctorsStore.doctors;
            if (filterTypeValue.length && !filterNameValue.length) {
                return doctorsStore.doctors.filter(doctor => doctor.Speciality.includes(filterTypeValue));
            }
            if (!filterTypeValue.length && filterNameValue.length) {
                return doctorsStore.doctors.filter(doctor => doctor.DoctorsFullName.toLowerCase().includes(filterNameValue));
            }
            if (filterTypeValue.length && filterNameValue.length) {
                return doctorsStore.doctors.filter(doctor => doctor.Speciality.includes(filterTypeValue) && doctor.DoctorsFullName.toLowerCase().includes(filterNameValue));
            }
        });

        onBeforeMount(async () => {
            await doctorsStore.getDoctorsOnlyOneTime();
            await doctorsStore.getDoctorsSpecialitiesOnlyOneTime();
        });

        const getTotalSpecialities = () => {
            return doctorsStore.doctorsSpecialities.reduce((total, current) => total + current.Count, 0);
        }

        const showConsultationForm = (doctorId, doctorsFullName) => {
            if (!loginStore.userInfo.id) {
                router.push({ name: "login" });
            }
            doctorsStore.selectedDoctor.id = doctorId;
            doctorsStore.selectedDoctor.fullName = doctorsFullName;
        };

        const showAppointmentForm = async (doctorId, doctorsFullName) => {
            if (!loginStore.userInfo.id) {
                router.push({ name: "login" });
            }
            doctorsStore.selectedDoctor.id = doctorId;
            doctorsStore.selectedDoctor.fullName = doctorsFullName;
        };

        watch(
            () => doctorsStore.selectedDoctor.id,
            () => {
                doctorsStore.getDoctorsTakenDates();
            }
        );

        const createNewConsultation = async () => {
            doctorsStore.newConsultationInfo.patientId = loginStore.userInfo.id;
            doctorsStore.newConsultationInfo.doctorId = doctorsStore.selectedDoctor.id;
            doctorsStore.newConsultationInfo.message = document.querySelector(".ql-editor").innerHTML;

            if (doctorsStore.newConsultationInfo.message == "<p><br></p>" && doctorsStore.newConsultationInfo.title.length <= 0) {
                doctorsStore.error = "Complete todos los campos";
                return;
            }

            document.getElementById('closeConsultationModalButton').click();

            await doctorsStore.createConsultation();
        }
        const date = ref(new Date());
        const disabledDates = ref([
            {
                repeat: {
                    weekdays: 1,
                },
            },
        ]);

        const minutesAreNotInDatesWithHours = (datesWithHour, minute) => {
            return datesWithHour.filter(function (dates) {
                var takenDate = new Date(dates.Date);
                return takenDate.getMinutes() == minute
            }).length == 0
        }

        const rules = ref({
            hours: (hour, { weekday, date }) => {
                var currentDate = date.toISOString().split('T')[0];
                var doctorsDatesForCurrentDate = doctorsStore.selectedDoctor.takenDates.filter(function (dates) {
                    return dates.Date.startsWith(currentDate);
                })
                var doctorsTakenHours = doctorsDatesForCurrentDate.map(function (dates) {
                    return new Date(dates.Date).getHours();
                })
                // 8AM - 12PM on the weekends
                if ([1, 7].includes(weekday)) return hour >= 8 && hour <= 12 && !(doctorsTakenHours.filter(function (takenHour) { return takenHour === hour }).length == 2);
                // Any hour otherwise
                return hour >= 8 && hour <= 20 && !(doctorsTakenHours.filter(function (takenHour) { return takenHour === hour }).length == 2);
            },
            minutes: (minute, { hours, date }) => {
                var currentISODate = date.toISOString().split('T')[0];
                var currentDate2 = new Date(currentISODate);
                var doctorsDatesForCurrentDateAndHour = doctorsStore.selectedDoctor.takenDates.filter(function (dates) {
                    var date = new Date(dates.Date);
                    return (
                        date.getFullYear() === currentDate2.getFullYear() &&
                        date.getMonth() === currentDate2.getMonth() &&
                        date.getDate() === currentDate2.getDate() &&
                        date.getHours() === hours
                    )
                })

                return (minute == 30 && minutesAreNotInDatesWithHours(doctorsDatesForCurrentDateAndHour, minute)) || (minute == 0 && minutesAreNotInDatesWithHours(doctorsDatesForCurrentDateAndHour, minute))
            },
        });

        const createNewAppointment = async () => {
            doctorsStore.newAppointmentInfo.patientId = loginStore.userInfo.id;
            doctorsStore.newAppointmentInfo.doctorId = doctorsStore.selectedDoctor.id;
            doctorsStore.newAppointmentInfo.date = date.value;
            doctorsStore.newAppointmentInfo.telephoneNumber = profileStore.userInfo.telephone;

            if (doctorsStore.newAppointmentInfo.type == "") {
                doctorsStore.error = "Seleccione un tipo de consulta";
                return;
            }

            document.getElementById('closeAppointmentModalButton').click();

            await doctorsStore.createAppointment();
        }

        return {
            doctorsStore,
            loginStore,
            filterType,
            filterName,
            filteredDoctors,
            date,
            disabledDates,
            rules,
            showConsultationForm,
            showAppointmentForm,
            createNewConsultation,
            getTotalSpecialities,
            createNewAppointment
        }
    }
}
</script>

<style scoped>
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.search-result-categories>li>a {
    color: #b6b6b6;
    font-weight: 400
}

.search-result-categories>li>a:hover {
    background-color: #ddd;
    color: #555
}

.search-result-categories>li>a>.glyphicon {
    margin-right: 5px
}

.search-results-count {
    margin-top: 10px
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px
}

.search-result-item:after,
.search-result-item:before {
    content: " ";
    display: table
}

.search-result-item:after {
    clear: both
}

.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

@media (min-width:768px) {
    .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0 -20px -20px;
        float: left;
        width: 200px
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 200px
    }
}

.search-result-item .image {
    width: 100%;
}

.search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999
}

.search-result-item .description {
    font-size: 13px
}

.search-result-item+.search-result-item {
    margin-top: 20px
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 200px
    }
}

.search-result-item-heading {
    font-weight: 400
}

.search-result-item-heading>a {
    color: #555
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}
</style>