<template>
  <div class="home">
    <div class="container-fluid">
      <div class="row">
        <Header></Header>
      </div>
      <div class="row">
        <div class="col-xxl-6" style="display: flex; flex-direction: column;">
          <div class="row summary mt-5 me-5">
            <div class="mt-5 ms-5">
              <div class="h1 display-1 mt-5 ms-5"
                style="text-align: left; color: #012F51; font-family: 'lalezarregular';">
                Standard Lorem
              </div>
              <div class="h1 display-1 ms-5"
                style="text-align: left; color: #012F51; font-family: 'lalezarregular'; margin-top: -2rem;">
                Ipsum passage
              </div>
              <div class="h2 display-7 ms-5" style="text-align: left; color: #045087; font-family: 'inter';">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada vitae leo a pulvinar. Vivamus
                malesuada vitae leo a pulvinar
              </div>
              <div class="mb-5 d-md-flex ms-5 mt-5">
                <button type="button" class="btn btn-primary btn-lg boton" @click="$router.push('/about-us')">SABER
                  MAS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6" style="background-color: white; display: flex; flex-direction: column;">
          <img src="../../public/3763028.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row mt-5 ms-5 me-5 bg-light rounded shadow">
        <div class="container mt-5 pb-5">
          <div class="row justify-content-md-center">
            <div class="col-xxl-12">
              <h1 class="text-start ms-5 mb-3" style="color: #012F51; font-family: 'lalezarregular';">ALGUNOS DE NUESTROS
                ESPECIALISTAS</h1>
              <hr>
              <br>
              <Carousel :items-to-show="3.5" :autoplay="5000" :wrap-around="true">
                <Slide v-for="doctor in homeStore.doctors" :key="doctor.Id">
                  <div class="card" style="width: 25rem;">

                    <img :src="'/uploads/' + doctor.Image" class="card-img-top" alt="...">
                    <div class="card-body text-start">
                      <h5 class="card-title">{{ doctor.DoctorsFullName }}</h5>
                      <p class="card-text"><small class="text-muted">{{ doctor.Speciality }}</small></p>
                      <br>
                      <div style="display: flex; align-items: center; justify-content: space-between;">
                        <a v-if="loginStore.userInfo.type != 'doctor'" class="btn btn-primary" @click="showConsultationForm(doctor.Id, doctor.DoctorsFullName)"
                          data-bs-toggle="modal" data-bs-target="#consultationModal">Hacer Consulta</a>
                        <h4><i class="me-2" style="float: right;">4.5</i><i class="bi bi-star-fill me-1 icon-gold"
                            style="float: right;"></i></h4>
                      </div>
                    </div>
                  </div>
                </Slide>

                <template #addons>
                  <Pagination />
                  <Navigation />
                </template>
              </Carousel>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <!-- Modal -->
      <div v-if="loginStore.userInfo.id != ''" class="modal fade" id="consultationModal" tabindex="-1" aria-labelledby="consultationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nueva Consulta - {{ homeStore.selectedDoctor.fullName }}</h5>
              <button type="button" id="closeModalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
              <div class="alert alert-danger" role="alert" v-show="homeStore.error">
                <i class="bi bi-x icon-button" @click="homeStore.error = ''"></i>
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ homeStore.error }}
              </div>
              <div class="form-group">
                <label for="consultationTitle" class="mb-2 flex-start">Titulo</label>
                <input type="text" class="form-control" id="consultationTitle" placeholder="Titulo de la consulta"
                  autofocus="" v-model="homeStore.newConsultationInfo.title" />
              </div>
              <div class="form-group mt-4">
                <label for="consultationText" class="mb-2">Consulta</label>
                <QuillEditor toolbar="essential" :placeholder="'Escriba aqui su consulta'" theme="snow" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" @click="createNewConsultation">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/header/Header.vue';
import { onBeforeMount, ref, watch } from "vue";
import { useLoginStore } from "../components/login/loginStore";
import { useHomeStore } from "../components/home/homeStore";
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
import { QuillEditor } from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import 'vue3-carousel/dist/carousel.css';
import router from "../router";

export default {
  name: 'HomeView',
  components: {
    Header,
    Carousel,
    Slide,
    QuillEditor,
    Pagination,
    Navigation,
  },
  setup() {
    const loginStore = useLoginStore();
    const homeStore = useHomeStore();

    onBeforeMount(() => {
      homeStore.getDoctorsOnlyOneTime();
    });

    const showConsultationForm = (doctorId, doctorsFullName) => {
      if (!loginStore.userInfo.id) {
        router.push({ name: "login" });
      }
      homeStore.selectedDoctor.id = doctorId;
      homeStore.selectedDoctor.fullName = doctorsFullName;
    };

    const createNewConsultation = () => {
      homeStore.newConsultationInfo.patientId = loginStore.userInfo.id;
      homeStore.newConsultationInfo.doctorId = homeStore.selectedDoctor.id;
      homeStore.newConsultationInfo.message = document.querySelector(".ql-editor").innerHTML;

      if (homeStore.newConsultationInfo.message == "<p><br></p>" && homeStore.newConsultationInfo.title.length <= 0) {
        homeStore.error = "Complete todos los campos";
        return;
      }

      document.getElementById('closeModalButton').click();

      homeStore.createConsultation();
    }

    watch(
      () => loginStore.userInfo.token,
      () => {
        if (loginStore.userInfo.token) {
          loginStore.saveUserInfo();
        }
      }
    );

    return {
      homeStore,
      loginStore,
      showConsultationForm,
      createNewConsultation
    }
  }
}
</script>

<style scoped>
.boton {
  width: 30%;
  height: 5rem;
}

.img-fluid {
  max-width: 90%;
  height: auto;
}

@media (min-width: 1440px) {
  .img-fluid {
    margin-top: -3rem;
  }
}

@media (max-width: 1399px) {
  .img-fluid {
    display: none;
  }
}

.carousel__item {
  min-height: 200px;
  width: 100%;
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}

.icon-gold {
  color: gold;
  border: 5px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
</style>
