<template>
    <div class="container-fluid">
        <div class="row">
            <Header />
        </div>
        <div class="row mt-5 ms-5 me-5">
            <div class="container mt-5">
                <div class="row justify-content-md-center">
                    <div class="col-xxl-4 border-0 rounded" style="background-color: white;">
                        <div class="row ms-5 mt-4">
                            <div class="h1 display-4" style="text-align: left; color: #045087; font-family: 'Helvetica';">
                                Hola,
                            </div>
                            <div class="h1 display-3"
                                style="text-align: left; color: #045087; font-family: 'lalezarregular';">
                                bienvenido!
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-body ms-4">
                                    <form @submit.prevent="login()">
                                        <div class="alert alert-danger" role="alert" v-show="loginStore.error">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            {{ loginStore.error }}
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Correo Electrónico</p>
                                            <input v-model="loginStore.userInfo.user" type="text" class="border-0"
                                                id="userName" required>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Contraseña</p>
                                            <div class="input-group">
                                                <input v-model="loginStore.userInfo.pass" type="password" class="border-0"
                                                    id="userName" required>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary mt-4">Iniciar Sesión</button>
                                            <router-link to="/register" class="btn btn-outline-primary ms-4 mt-4">Registrarse</router-link>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 border-0 rounded" style="background-color: white;">
                        <img src="../../public/vecteezy_sportsman-discussing-with-a-doctor-illustration-of_12969223.jpg"
                            alt="" class="img-fluid mt-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.img-fluid {
    max-width: 100%;
    height: auto
}

.card {
    border: none !important;
}

.input-label {
    text-align: left;
    font-family: 'Lancelot-Regular';
    font-size: 1.2rem;
    color: #7B7777;
}

.form-control {
    border-radius: 0;
}
</style>

<script>
import Header from "@/components/header/Header.vue";
import { watch } from "vue";
import { useLoginStore } from "../components/login/loginStore.js";

export default {
    components: {
        Header
    },
    setup() {
        const loginStore = useLoginStore();

        const login = () => {
           loginStore.getUserLogin();
        };

        watch(
            () => loginStore.userInfo.token,
            () => {
                if (loginStore.userInfo.token) {
                    loginStore.saveUserInfo();
                }
            }
        );

        return {
            login,
            loginStore
        };
    }
};
</script>