<template>
  <div class="home">
    <div class="container-fluid">
      <div class="row">
        <Header></Header>
      </div>
      <div v-if="profileStore.isPageLoading">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div v-if="!profileStore.isPageLoading" class="container mt-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <div class="my-5">
              <h3>Mi Perfil</h3>
              <hr>
            </div>
            <div class="row">
              <div class="col-xxl-8 mb-5">
                <div class="bg-light px-4 py-5 rounded">
                  <form>
                    <div class="row">
                      <h4>Mis Datos</h4>
                    </div>
                    <div class="row mt-2 g-3">
                      <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" disabled v-model="profileStore.userInfo.name">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control" disabled v-model="profileStore.userInfo.lastName">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" disabled  v-model="profileStore.userInfo.email">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Número de telefono</label>
                        <input type="text" class="form-control" disabled  v-model="profileStore.userInfo.telephone">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input type="text" class="form-control" disabled  v-model="profileStore.userInfo.birthdate">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-xxl-4">
                <div class="bg-light px-4 py-4 rounded">
                  <div class="row g-3">
                    <h4>Elige tu foto de perfil</h4>
                    <div class="col-8 mx-auto">
                      <div class="row bg-white border rounded">
                        <picture>
                          <img :src="'/uploads/' + profileStore.userInfo.image" class="img-fluid" alt="image desc">
                        </picture>
                      </div>
                      <div class="row mt-4">
                        <form enctype="multipart/form-data" @submit="submitForm">
                          <div class="alert alert-success" role="alert" v-show="profileStore.imageSucess">
                            <i class="bi bi-x icon-button" @click="profileStore.imageSucess = ''"></i>
                            <i class="bi bi-check-circle"></i>
                            {{ profileStore.imageSucess }}
                          </div>
                          <div class="col-12 mx-auto d-inline-block">
                              <input type="file" id="customFile" name="file" hidden @change="onChange">
                              <label class="btn btn-success me-3" for="customFile">Subir</label>
                              <button type="button" class="btn btn-danger">Eliminar</button>
                          </div>
                          <div>
                            <button type="submit" class="btn btn-primary mt-3">Actualizar Imagen</button>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xxl-8 mb-5">
                <div class="bg-light px-4 py-5 rounded">
                  <form>
                    <div class="row">
                      <h4>Cambiar contraseña</h4>
                      <div class="alert alert-danger" role="alert" v-show="profileStore.error">
                        <i class="bi bi-x icon-button" @click="profileStore.error = ''"></i>
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        {{ profileStore.error }}
                      </div>
                      <div class="alert alert-success" role="alert" v-show="profileStore.passwordSucess">
                        <i class="bi bi-x icon-button" @click="profileStore.passwordSucess = ''"></i>
                        <i class="bi bi-check-circle"></i>
                        {{ profileStore.passwordSucess }}
                      </div>
                    </div>
                    <div class="row mt-2 g-3">
                      <div class="col-md-6">
                        <label class="form-label">Contraseña actual</label>
                        <input type="password" id="currentPassword" class="form-control" v-model="currentPassword">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Nueva contraseña</label>
                        <input type="password" id="newPassword" class="form-control" v-model="newPassword">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Repetir contraseña</label>
                        <input type="password" id="repeatedNewPassword" class="form-control" v-model="repeatedNewPassword">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="mb-5 me-5 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-primary btn-lg" @click="updateProfile()">Actualizar contraseña</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
import Header from '@/components/header/Header.vue'
import { useProfileStore } from '../components/profile/profileStore'
import { onBeforeMount, ref } from 'vue';
import { useLoginStore } from "../components/login/loginStore";

export default {
  components: {
    Header
  },
  setup() {
    const loginStore = useLoginStore();
    const profileStore = useProfileStore();
    var currentPassword = ref();
    var newPassword = ref();
    var repeatedNewPassword = ref();

    onBeforeMount(() => {
      profileStore.getUserInfoOnlyOneTime();
    });

    const updateProfile = async () => {
      if (currentPassword.value == null && newPassword.value == null && repeatedNewPassword.value == null) {
        profileStore.error = "Rellene todos los campos"
        return;
      }
      if (validatePasswords()) {
        await profileStore.updateUserPassword(currentPassword.value, newPassword.value);
      }
    }

    const validatePasswords = () => {
      var validPassword = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,15}$/;
      if (currentPassword.value == newPassword.value) {
        profileStore.error = "La nueva contraseña no puede coincidir con la actual"
        return false;
      }
      if (!newPassword.value.match(validPassword)) {
        profileStore.error = "Contraseña Invalida, la nueva contraseña debe ser de longitud 8-15 contener un caracter numerico y un caracter especial (!@#$%^&*)"
        return false;
      }
      if (!(newPassword.value == repeatedNewPassword.value)) {
        profileStore.error = "Las contraseñas no coinciden"
        return false;
      }
      return true;
    }

    const file = ref('');

    const onChange = (e) => {
      file.value = e.target.files[0];
    }

    const submitForm = (e) => {
      e.preventDefault();
      var data = new FormData();
      data.append('file', file.value);
      const requestOptions = {
        method: "POST",
        body: data
      };

      fetch(`/api/users/${loginStore.userInfo.id}/image`, requestOptions)
      .then(async response => {
        const data = await response.json();

        if (!response.ok) {
          this.error = (data && data.message) || response.statusText;
        }
        else {
          profileStore.imageSucess = "Imagen actualizada correctamente";
          window.location.reload();
        }
      });
    }
    
    return {
      profileStore,
      currentPassword,
      newPassword,
      repeatedNewPassword,
      updateProfile,
      onChange,
      submitForm
    } 
  }
}
</script>

<style scoped>
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d6efd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
</style>
  