<template>
    <div class="container-fluid">
        <div class="row">
            <Header />
        </div>
        <div class="row mt-3 ms-5 me-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-xxl-5 border-0 rounded" style="background-color: white;">
                        <div class="row ms-5 mt-4">
                            <div class="h1 display-4" style="text-align: left; color: #045087; font-family: 'Helvetica';">
                                Gracias
                            </div>
                            <div class="h1 display-3"
                                style="text-align: left; color: #045087; font-family: 'lalezarregular';">
                                por escogernos!
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-body ms-4">
                                    <form @submit.prevent="register()">
                                        <div class="alert alert-danger" role="alert" v-show="registerStore.error">
                                            <i class="bi bi-x icon-button" @click="registerStore.error = ''"></i>
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            {{ registerStore.error }}
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Nombre</p>
                                            <input v-model="registerStore.userInfo.name" type="text" class="border-0"
                                                id="name" required>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Apellidos</p>
                                            <input v-model="registerStore.userInfo.lastName" type="text" class="border-0"
                                                id="lastname" required>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Correo Electrónico</p>
                                            <input v-model="registerStore.userInfo.email" type="email" class="border-0"
                                                id="email" required>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Confirmar Correo Electrónico</p>
                                            <input v-model="registerStore.userInfo.confirmEmail" type="email"
                                                class="border-0" id="confirm-email" required>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Contraseña</p>
                                            <div class="input-group">
                                                <input v-model="registerStore.userInfo.pass" type="password"
                                                    class="border-0" id="password" required>
                                            </div>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Telefono</p>
                                            <div class="input-group">
                                                <input v-model="registerStore.userInfo.telephone" type="tel"
                                                    class="border-0" id="telephone" placeholder="123-456-789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required>
                                            </div>
                                        </div>
                                        <div class="row form-control">
                                            <p class="input-label mb-1">Fecha de Nacimiento</p>
                                            <div class="input-group">
                                                <input v-model="registerStore.userInfo.birthdate" type="date"
                                                    class="border-0" id="birthdate" required>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary mt-4 me-4">Registrarse</button>
                                            <input type="checkbox" required> He leído y acepto los términos y condiciones de uso
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 border-0 rounded" style="background-color: white;">
                        <img src="../../public/pediatrician_17.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 25%;
    
}

.card {
    border: none !important;
}

.icon-button:hover {
    cursor: pointer;
}

.input-label {
    text-align: left;
    font-family: 'Lancelot-Regular';
    font-size: 1.2rem;
    color: #7B7777;
}

.form-control {
    border-radius: 0;
}
</style>

<script>
import Header from "@/components/header/Header.vue";
import { useRegisterStore } from "../components/register/registerStore";

export default {
    components: {
        Header
    },
    setup() {
        const registerStore = useRegisterStore();

        const validateRegistration = () => {
            return validateEmail() && validatePassword();
        }

        const validateEmail = () => {

            var validEmail = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            if (registerStore.userInfo.email.match(validEmail)) {
                if (registerStore.userInfo.email == registerStore.userInfo.confirmEmail) {
                    return true;
                } else {
                    registerStore.error = "Los correos electrónicos no coinciden"
                    return false;
                }
            } else {
                registerStore.error = "Correo electronico no valido"
                return false;
            }
        }

        const validatePassword = () => {
            var validPassword = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,15}$/;
            if (registerStore.userInfo.pass.match(validPassword)) {
                return true;
            } else {
                registerStore.error = "Contraseña Invalida, la contraseña debe ser de longitud 8-15 contener un caracter numerico y un caracter especial (!@#$%^&*)"
            }
        }

        const register = () => {
            if (validateRegistration()) {
                registerStore.registerUser();
            }
        };

        return {
            register,
            registerStore
        };
    }
};
</script>