<template>
    <div class="container-fluid">
        <div class="row">
            <Header />
        </div>
        <div class="container mt-5 bg-white rounded justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div v-if="loginStore.userInfo.type == 'doctor'" class="form-group">
                            <p>Bienvenido! <b>{{ this.username }}</b> <br>
                                Haga click en el boton para realizar la llamada </p>
                        </div>
                        <div v-else class="form-group">
                            <p>Bienvenido! <b>{{ this.username }}</b> <br>
                                Espere a que le llamen </p>
                        </div>

                        <div v-if="incomingCall">
                            <button class="btn btn-success" @click="acceptCall">Aceptar Llamada</button>
                            <button class="btn btn-danger ms-5" @click="rejectCall">Rechazar Llamada</button>
                        </div>
                        <div v-else-if="ongoingCall">
                            <button class="btn btn-secondary"> Llamada en curso ... </button>
                        </div>
                        <div v-else-if="loginStore.userInfo.type == 'doctor'">
                            <button @click="startVideoChat" class="btn btn-secondary"> Empezar Llamada <span v-if="showSpinner"
                                    class="fa fa-spin fa-spinner"></span> </button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div id="callScreen"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "@/components/header/Header.vue";
import { CometChat } from "@cometchat-pro/chat";
import { useLoginStore } from "../components/login/loginStore";
import router from "../router";

export default {
    components: {
        Header
    },
    data() {
        const loginStore = useLoginStore();
        return {
            username: "",
            uid: "",
            session_id: "",
            receiver_id: null,
            error: false,
            showSpinner: false,
            incomingCall: false,
            ongoingCall: false,
            loginStore
        };
    },
    created() {
        this.getLoggedInUser();
        this.receiver_id = this.$route.params.userId;
        let globalContext = this;
        var listnerID = "UNIQUE_LISTENER_ID";
        CometChat.addCallListener(
            listnerID,
            new CometChat.CallListener({
                onIncomingCallReceived(call) {
                    globalContext.incomingCall = true;
                    globalContext.session_id = call.sessionId;
                },
                onOutgoingCallAccepted(call) {
                    globalContext.ongoingCall = true;
                    CometChat.startCall(
                        call.sessionId,
                        document.getElementById("callScreen"),
                        new CometChat.OngoingCallListener({
                            onCallEnded: call => {
                                globalContext.ongoingCall = false;
                                globalContext.incomingCall = false;
                                router.push("/");
                            }
                        })
                    );
                },
                onOutgoingCallRejected(call) {
                    this.showSpinner = false;
                    this.incomingCall = false;
                    this.ongoingCall = false;
                    this.receiver_id = "";
                },
                onIngoingCallAccepted(call) {
                    new CometChat.OngoingCallListener({
                        onCallEnded: call => {
                            router.push("/");
                        }
                    })
                }
            })
        );
    },
    methods: {
        getLoggedInUser() {
            var user = CometChat.getLoggedinUser().then(
                user => {
                    this.username = user.name;
                    this.uid = user.uid;
                },
                error => {
                    this.$router.push({ name: "homepage" });
                }
            );
        },
        async startVideoChat() {
            if (!this.receiver_id) this.error = true;
            this.showSpinner = true;
            var receiverID = this.receiver_id;
            var callType = CometChat.CALL_TYPE.VIDEO;
            var receiverType = CometChat.RECEIVER_TYPE.USER;
            var call = new CometChat.Call(receiverID, callType, receiverType);
            await CometChat.initiateCall(call);
        },
        acceptCall() {
            let globalContext = this;
            this.ongoingCall = true;
            this.incomingCall = false;
            var sessionID = this.session_id;
            CometChat.acceptCall(sessionID).then(
                call => {
                    CometChat.startCall(
                        call.sessionId,
                        document.getElementById("callScreen"),
                        new CometChat.OngoingCallListener({
                            onCallEnded: call => {
                                globalContext.ongoingCall = false;
                                globalContext.incomingCall = false;
                            }
                        })
                    );
                },
                error => {
                    console.log("Call acceptance failed with error", error);
                }
            );
        },
        rejectCall() {
            var sessionID = this.session_id;
            var globalContext = this;
            var status = CometChat.CALL_STATUS.REJECTED;
            CometChat.rejectCall(sessionID, status).then(
                call => {
                    globalContext.incomingCall = false;
                    globalContext.ongoingCall = false;
                    globalContext.receiver_id = "";
                },
                error => {
                    console.log("Call rejection failed with error:", error);
                }
            );
        }
    }
};
</script>

<style scoped>
@media (min-height: 913px) {
    #callScreen {
        width: 1080px;
        height: 650px;
    }  
}

@media (max-height: 913px) {
    #callScreen {
        width: auto;
        height: 300px;
    }  
}


</style>