<template>
  <router-view />
</template>

<script>
import { useLoginStore } from "./components/login/loginStore.js";
import HomeView from '@/views/HomeView.vue';
import { CometChat } from "@cometchat-pro/chat";

export default {
  components: {
    HomeView
  },
  setup() {

    var appID = process.env.VUE_APP_COMMETCHAT_APP_ID;
    CometChat.init(appID).then(
      () => {
        console.log("Initialization completed successfully");
      },
      error => {
        console.log("Initialization failed with error:", error);
      }
    );

    const loginStore = useLoginStore();

    loginStore.checkJwtExpiration();

    return {
      loginStore
    }
  }
};
</script>

<style>
html,
body {
  height: 100%;
  background-color: #EAF7FA;
}

@font-face {
  font-family: 'inter';
  src: url("../public/fonts/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lancelot-Regular';
  src: url("../public/fonts/Lancelot-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lalezarregular';
  src: url("../public/fonts/lalezar-regular-webfont.woff2") format('woff2'),
    url('../public/fonts/lalezar-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  background-color: #EAF7FA;
}

input:focus {outline:none!important;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

nav {
  padding: 30px;
}

.nav-link {
  color: rgba(4, 80, 135, 0.75);
  font-family: inter;
}

* {
  margin: 0;
  padding: 0;
}
</style>
