<template>
    <nav class="navbar navbar-expand-lg h-25" style="background-color: white;">
        <div class="container">
            <a class="navbar-brand" @click="$router.push('/')">
                <img id="logo" src="../../../public/Logo.png" alt="Logo" draggable="false" height="110" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto align-items-center fs-4">
                    <li class="nav-item" @click="$router.push('/')">
                        <a class="nav-link mx-2"><i class="bi bi-house-door-fill pe-2 "></i>Inicio</a>
                    </li>
                    <li class="nav-item" @click="$router.push('/doctors')">
                        <a class="nav-link mx-2"><i class="bi bi-search pe-2"></i>Buscar</a>
                    </li>
                    <li class="nav-item" @click="$router.push('/appointments')">
                        <a class="nav-link mx-2"><i class="bi bi-calendar2-date-fill pe-2"></i>Mis Citas</a>
                    </li>
                    <li class="nav-item" @click="$router.push('/consultations')">
                        <a class="nav-link mx-2"><i class="bi bi-clipboard2-heart-fill pe-2"></i>Mis Consultas</a>
                    </li>
                    <li class="nav-item" @click="$router.push('/profile')">
                        <a class="nav-link mx-2"><i class="bi bi-person-vcard-fill pe-2"></i>Perfil</a>
                    </li>
                    <li class="nav-item" @click="$router.push('/contact-us')">
                        <a class="nav-link mx-2"><i class="bi bi-gear-wide-connected pe-2"></i>Soporte</a>
                    </li>
                    <div v-show="!loginStore.userInfo.token">
                        <li class="nav-item ms-3" @click="$router.push('/login')">
                            <a class="btn btn-outline-primary">Iniciar Sesión</a>
                        </li>
                    </div>
                    <div v-show="loginStore.userInfo.token">
                        <li class="nav-item ms-3">
                            <a class="btn btn-outline-danger" @click="logout">Cerrar Sesión</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</template>

<style>
a:hover {
    cursor: pointer;
}
</style>

<script>
import { useLoginStore } from '../login/loginStore';

export default {
    setup() {
        const loginStore = useLoginStore();

        const logout = () => {
            loginStore.logout();
        };

        return {
            loginStore,
            logout
        }
    }
};
</script>
  